* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  
  header {
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
      url("img/homepagebackground.png");
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  nav {
    width: 100%;
    height: 12vh;
    background: rgba(0, 0, 0, 0.2);
    color: white;
    display:flex;
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
  }
  
  nav .logo {
    width: 20%;
    text-align: center;
  }
  
  nav .menu {
    width: 65%;
}
  
  nav .menu a {
    width: 25%;
    text-decoration: none;
    color: white;
    margin: 0 20px;
}

  nav .menu a:hover {
    background-color:transparent; 
    color: #1abfd1;
}
  nav .menu a:last-child {
    color: #f1e9fe;
    animation: animate-last-button 0.8s ease-in-out infinite; 
    font-size: 30px;
}
@keyframes animate-last-button {
  from {
    transform: scale(4); 
    color: #c8a0e1; 
  }
  to {
    transform: scale(5); 
    color: #12aea9; 
}}

