body {
    font-family: Poppins;
    height:100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
        url("img/homepagebackground.png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    padding: 140px 70px;
    max-width: 700px;
    background-color: rgba(70, 70, 77, 0.65);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    height: 700px;
}

label {
    display: block;
    margin-bottom: 20px;
    font-size:22px;
    color:white;
}
.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

select {
    width: 250px;
    padding: 10px;
    margin-bottom: 30px;
    border: 3px solid rgba(29, 73, 90, 0.881);
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
    color: rgba(29, 73, 90, 0.881) ;
}

button {
    width: 100px; /* Adjust the width as needed */
    padding: 15px;
    margin-bottom: 0px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
    font-size: 20px;
}


button[type="submit"] {
    background-color: rgba(29, 73, 90, 0.881);
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
}

button[type="submit"]:hover {
    background-color: rgba(144, 178, 190, 0.881);
}
