/* Set background image for the entire page */
body {
    background-image: url("img/homepagebackground.png"); 
    background-size: cover; 
    margin: 0; 
    padding: 0; 
}

.form-container {
    max-width: 60%; 
    margin: 0 auto;
    padding: 250px 200px;
    background-color:transparent
}


label {
  
    margin-bottom: 10px;
    font-weight: bold;
    color: rgba(6, 63, 78, 0.808); 
    background-color: white;
    align-content: center;
}

select {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #012237;
    border-radius: 5px;
}


button[type="submit"] {
    display: block;
    width: 50%;
    padding: 10px;
    background-color: rgba(6, 63, 78, 0.808); 
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 120px;
    margin-top: 120px;
}

/* Style the submit button on hover */
button[type="submit"]:hover {
    background-color: white;
    color:rgba(6, 63, 78, 0.808);
}
