* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Josefin Sans", sans-serif;
  }
  

  main {
    width: 100%;
    height: 59vh;
    display: flex;
    justify-content: left;
    align-items: center;
    text-align: left;
    color: white;
  }
  
  section h1 {
    font-size: 100px;
    font-weight: 150;
    letter-spacing: 4px;
    text-shadow: 1px 1px 2px black;
    font-family:Impact;
    margin-left: 40px;
}
  
  section h3 {
    color: transparent;
    font-size:90px;
    text-transform:uppercase;
    -webkit-text-stroke: 1px white ;
    font-family:'Arial Narrow';
    margin-left: 40px;
  }
  
  section a {
    border-radius: 4px;
    font-size: 20px;
    transition: all 0.5s ease;
    font-family:Arial;
  }
  
  section .btnone,
  .btntwo {
      display: inline-block;
      padding: 18px 37px;
      text-decoration:none;
      color: white;
      background-color: rgba(22, 57, 70, 0.881);
      border: 3.1px solid white; 
      margin-left: 40px;
      position: relative;
  }

  .arrow {
    display: inline-block;
    background-color: white;
    color: rgba(22, 57, 70, 0.881);
    padding: 18px 8px; 
    font-size: 21px;
    position: absolute;
    border: 2px solid white;
    top: 29.5px;
    transform: translateY(-50%); 
    margin-left: 10px;
}
  
add {
    position:absolute;
    bottom: 0;
    width: 100%; 
    text-align: center; 
}
.banner-buttons li a div h2{
  font-size: 28px;
  font-family: 'Arial';
}
.banner-buttons li a div h3{
  font-size: 19px;
  font-family:Arial;
  font-weight: lighter; 
}

.btnone:hover,
.btntwo:hover {
    background-color: #7acfd9;
}

.banner-buttons {
  list-style-type: none;
  padding: 0;
  margin: 0;
  text-align: center; 
}

.banner-buttons li {
  display: inline-block;
  margin-right: 10px; 
  margin-left: 10px;
  text-align: center; 
}

.banner-buttons li:last-child {
  margin-right: 15px;
}

.banner-buttons li a {
  display: flex;
  align-items: center;
  text-decoration: none;
  background-color: #fcfffe; 
  color: #090101; 
  border-radius: 15px;
  padding: 65px 60px; 
  transition: background-color 0.3s ease;
}

.banner-buttons li a i {
  font-size: 38px; 
  background-color: rgba(22, 57, 70, 0.881); 
  color: white; 
  border-radius: 100%; 
  padding: 20px; 
}


.banner-buttons li a:hover {
  background-color: #7acfd9; 
}

