@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap");

body,
input {
  font-family:Poppins;
  src: url(../font/Poppins);
  width: 100%;
  height: 100vh;
  background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.15)),
    url("img/homepagebackground.png");
}

.container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 700px;
  background-color: rgba(79, 79, 86, 0.98);
  height: 700px;
  overflow: hidden;
  border-radius: 20px;
}


.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 70%;
  width: 60%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-size: 30px;
  color: white;
  margin-bottom: 9px;
}

.input-field {
  width: 300px;
  background-color: rgba(22, 57, 70, 0.881);
  margin: 10px 0;
  height: 50px;
  border-radius: 55px;
  display: grid;
  grid-template-columns: 15% 85%;
  padding: 0 0.4rem;
  position: relative;
}

.input-field i {
  text-align: center; 
  line-height: 50px;
  color: white;
  transition: 0.5s;
  font-size: 1.1rem;
}

.input-field input {
  background: none;
  outline: none;
  border: none;
  height: 52px;
  line-height: 55px;
  font-weight: 600;
  font-size: 1.1rem;
  color: #7acfd9;
}

.input-field input::placeholder {
  color: white;
  font-weight: 500;
}
.btn {
  width: 140px;
  border: 3px;
  outline: none;
  height: 40px;
  border-radius: 49px;
  color: white;
  font-weight: 700;
  font-size: 20px;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;
}
.btn:hover {
  color: rgba(22, 57, 70, 0.881);
}
.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  font-size: 30px;
}

.container:before {
  content: "";
  position: absolute;
  height: 1500px;
  width: 1700px;
  top: -30%;
  right: 30%;
  transform: translateY(30%);
  background-image: radial-gradient(circle, rgba(144, 178, 190, 0.881) 40%, rgba(29, 73, 90, 0.881) 60%);
  transition: 2s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image {
  width: 340px;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
  margin-right: -100px;
  margin-bottom: -70px;
}

.panel {
  display:flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  text-align: center;
  z-index: 6;
}

.left-panel {
  pointer-events: all;
  padding: 3rem 17% 2rem 12%;
  margin-top: -80px;
}

.right-panel {
  pointer-events: none;
  padding: 3rem 12% 2rem 17%;
  margin-top: -80px;
}

.panel .content {
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.3s;
}

.panel h3 {
  font-weight: 1200;
  font-family:poppins;
  src: url(../font/poppins);
  font-size: 40px; 
  color: rgba(22, 57, 70, 0.881);
  -webkit-text-stroke: 1px white;
}
.panel p {
  font-size: 15px;
  font-family:poppins;
  src: url(../font/poppins);
  padding: 2px;
  color: white;
}

@keyframes colorfulBorder {
  0% {
    border-color: #396f8c;
  }
  25% {
    border-color: #69c469; 
  }
  50% {
    border-color: #95dbdb; 
  }
  75% {
    border-color: #c793c7; 
  }
  100% {
    border-color: #805dbc; 
  }
}

.btn.transparent {
  margin: 0;
  background: rgba(3, 71, 96, 0.858);
  border: 4px solid #e6d2da;
  width: 150px;
  height: 50px;
  font-weight: 600;
  font-size: 20px;
  animation: colorfulBorder 1.5s infinite; 
}


.btn.transparent:hover {
  background-color: rgb(203, 230, 231); 
  color: rgba(22, 57, 70, 0.881); 
}


.right-panel .image,
.right-panel .content {
  transform: translateX(900px);
}

/* ANIMATION */

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 50%;
}

.container.sign-up-mode .left-panel .image,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }
  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image {
    width: 300px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.7rem;
    padding: 0.5rem 0;
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image {
    display: none;
  }
  .panel .content {
    padding: 0.5rem 1rem;
  }
  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 28%;
    left: 50%;
  }
}

