{% extends 'pharmacy/pharmacybase.html' %}
{% block content %}
<h3>{{msg}}</h3>
<h2>List of Medicines</h2>
<table class="table table-striped">
    <thead style="background-color: blue;color: white;">
    <td>BOOKING ID</td>
    <td>USER NAME</td>
    <td>MEDICINE NAME</td>
    <td>QUANTITY</td>
    <td>PRICE</td>
    <td>DATE</td>
    <td>STATUS</td>
    </thead>

    {% for row in medicine_list %}
    <tr>
        <td>{{row.id}}</td>
        <td>{{row.name}}</td>
        <td>{{row.medicine_name}}</td>
        <td>{{row.quantity}}</td>
        <td>{{row.price}}</td>
        <td>{{row.date}}</td>
        <td>{{row.status}}</td>
    </tr>
    {% endfor %}
</table>
<form action="{% url 'cancellings' %}" method="post">
    <h3>Choose medicine to book</h3>
    {% csrf_token %}
    <div class="col-auto">
        <label for="example-email-input" class="col-2 col-form-label">Bus ID</label>
        <div class="col-5">
            <input name='bus_id' class="form-control" type="number" id="example-email-input">
        </div>
    </div>

    <br>
    <br>
    <div class="pull-right">
        <button type="submit" class="btn btn-danger float-left">Cancel medicine</button>
    </div>


    {{error}}

</form>

{% endblock %}