<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Book Your Appointment</title>
    <link rel="stylesheet" type="text/css" href="{% static 'Appointmentform.css' %}">
</head>

<body>
<div class="container">
    <div class="paragraph">
        <h1>Book Your</h1>
        <h2>Appointment</h2> 
        <h3> Now <br> __</h3>
        <p>Seize the Reins of Your Health Journey<br>Ensure Your Place on the Path to Healing</p>
    </div>
  
    <form id="appointmentForm" action="/book_appointment" method="POST">
        <div class="form-group">
            <select name="doctor" id="doctor">
                <option value="">Choose Your Doctor</option>
                {% for doctor in doctors %}
                <option value="{{ doctor.id }}">{{ doctor.name }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="form-group">
            <select name="appointmentMode" id="appointmentMode">
                <option value="">Appointment Mode</option>
                {% for mode in appointment_modes %}
                <option value="{{ mode }}">{{ mode }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="form-group">
            <select name="date" id="date">
                <option value="">     Select Date & Time    </option>
                {% for date in date %}
                <option value="{{ date }}">{{ date }}</option>
                {% endfor %}
            </select>
        </div>
    
        <div class="form-group">
            <select name="appointmentLength" id="appointmentLength">
                <option value="">Appointment Length</option>
                {% for length in appointment_lengths %}
                <option value="{{ length }}">{{ length }} minutes</option>
                {% endfor %}
            </select>
        </div>
    
        <button type="submit" class="btn">Proceed</button>
    </form>    
</div>
</body>
</html>
